BPMRegisterProductDemo/bpmComposerExport/ProductRelease/businessCatalog/Product/ERPSelection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="Product.ERPSelection" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Product/ERPSelection" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Product/ERPSelection"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ERPSelectionType">
        <xs:sequence>
            <xs:element name="vista" nillable="true" type="xs:string"/>
            <xs:element name="ecp" nillable="true" type="xs:string"/>
            <xs:element name="sap" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ERPSelection" type="ERPSelectionType"/>
</xs:schema>
